@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background-color: #FFF8C1;
  font-family: 'Bungee', cursive;
  font-size:16px;
}

input[type="checkbox"]{
  display: none;
}

#container{
  width:800px; 
  margin:0 auto;
  position: relative;	
}

.card{
  display:inline-block;
  position:relative;
  width:100px;
  height:150px;
  border: 2px solid #1d551a;
  font-weight: bold;
  font-size:1.5em;
  position: relative;
  background: #fff;;
}
.card.back{
  background: linear-gradient(45deg,  #1d551a 0%,#95D891 52%,#1d551a 100%);
}
.card.back > span{
  opacity: 0;
 }
/* card suits */
.club, .spade{ 
  color: #333;
}
.diamond, .heart{ 
  color: #ff3019;
}

.card span::after{
  position:absolute;
  left:8px;
  top:30px;
}
.card.club span::after, .foundation.club::before{  content: "\002663"; }
.card.diamond span::after, .foundation.diamond::before{  content: "\002666"; }
.card.heart span::after, .foundation.heart::before{  content: "\002665"; }
.card.spade span::after, .foundation.spade::before{  content: "\002660"; }

/* numbers */
.card span::before{
  position:absolute;
  left:10px;
  font-size:1.8rem;
}
.card.num_A span::before{  content: "A"; }
.card.num_2 span::before{  content: "2"; }
.card.num_3 span::before{  content: "3"; }
.card.num_4 span::before{  content: "4"; }
.card.num_5 span::before{  content: "5"; }
.card.num_6 span::before{  content: "6"; }
.card.num_7 span::before{  content: "7"; }
.card.num_8 span::before{  content: "8"; }
.card.num_9 span::before{  content: "9"; }
.card.num_10 span::before{  content: "10"; }
.card.num_J span::before{  content: "J"; }
.card.num_Q span::before{  content: "Q"; }
.card.num_K span::before{  content: "K"; }


/* checked = move card to foundation; */
:checked + .card{ 
  position:fixed;
  top:20px;
  z-index:10;
}

/* foundation */
.foundation{
  border:2px solid #9D9343;
  width:100px;
  height:150px; 
  position:fixed;
  top:20px;
  z-index:1;
}
.foundation.club, :checked + .card.club{ right:350px;}
.foundation.heart, :checked + .card.heart{ right:240px;}
.foundation.diamond, :checked + .card.diamond{ right:130px;}
.foundation.spade, :checked + .card.spade{ right:20px;}

.foundation::before{
  font-size:70px;
  position: relative;
  top:20px;
  left:10px;
}